* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat','Ibarra Real Nova', sans-serif;
}

.App{
  width: 100vw;
  height: 100vh;
  /* background-color: #c9d1ff; */
  background-color: #d6dee1;
}

.nav{
  background-color: #7092a3;
  height: 10vh;
}

.home {
  margin-top: 0.5rem;
  margin-left: 2rem;
  font-size: 3rem;
  color: white;
  /* font-family: 'Montserrat','Ibarra Real Nova', sans-serif; */
  text-decoration: none;
}
.header {
  font-size: 1.5rem;
  text-align: center;
  height: 10rem;
  margin-top: 2rem;
}

.search {
  font-size: 1.5rem;
  text-align: center;
  padding-top: 12rem;
  margin-bottom: 10rem;
}

.input {
  font-size: 1.5rem;
  width: 45vw;
  border-radius: 6px;
  border: 2px solid grey;
  padding: 8px;
}

.search-button {
  border-radius: 6px;
  background-color: #AED7CE;
  border: 2px solid grey;
  font-size: 1.5rem;
  padding: 8px;
  box-shadow: 1px 2px 15px 2px #686868;
}